@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-text" style="margin-top: 75px;">
    <h1>Welcome to WildlifeCRUD!</h1>
    <p>Your one-stop solution for managing wildlife data efficiently and effectively.</p>

    <p>At WildlifeCRUD, we aim to provide a user-friendly interface for users to create, read, update, and delete animal records. Whether you're a wildlife enthusiast, a researcher, or just curious about the animal kingdom, our application offers the tools you need to manage your data seamlessly.</p>

    <h2>Features:</h2>
    <ul>
        <li><strong>Comprehensive Data Management:</strong> Easily add new animal records, update existing ones, and remove records you no longer need.</li>
        <li><strong>User-Friendly Interface:</strong> Navigate through our intuitive interface designed for users of all levels.</li>
        <li><strong>Responsive Design:</strong> Access the application from any device, whether you’re at home or on the go.</li>
        <li><strong>Data Integrity:</strong> Ensure the accuracy and consistency of your wildlife data with built-in validation checks.</li>
    </ul>

    <p>Join us on this journey to better understand and manage wildlife. Get started today by exploring our features and contributing to the conservation of our planet's incredible species!</p>

    <p>Happy exploring!</p>
</div>

<div class="text-center">
    <a href="Animal/List" class="btn btn-info text-center" style="display: inline-block; margin: 20px 20px 20px 20px;">
        <div>
            <img src="img/animal_crud_sm.png" alt="Button Image" style="display: block; margin: 0 auto;">
        </div>
        <span style="display: block; margin-top: 5px;">Animals CRUD</span>
    </a>

    <a href="Species/List" class="btn btn-info text-center" style="display: inline-block; margin: 20px 20px 20px 20px;">
        <div>
            <img src="img/animal_species_sm.png" alt="Button Image" style="display: block; margin: 0 auto;">
        </div>
        <span style="display: block; margin-top: 5px;">Animal Species</span>
    </a>

    <a href="Habitat/List" class="btn btn-info text-center" style="display: inline-block; margin: 20px 20px 20px 20px;">
        <div>
            <img src="img/animal_habitat_sm.png" alt="Button Image" style="display: block; margin: 0 auto;">
        </div>
        <span style="display: block; margin-top: 5px;">Animal Habitats</span>
    </a>
</div>
